@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg"),
	url("extendicons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bicycle14:before {
	content: "\e000";
}
.flaticon-car72:before {
	content: "\e001";
}
.flaticon-cup74:before {
	content: "\e002";
}
.flaticon-massage2:before {
	content: "\e003";
}
.flaticon-restaurant23:before {
	content: "\e004";
}
.flaticon-swimming21:before {
	content: "\e005";
}
